<%= title "Artículos de #{@project.title}"  %>

<div class="actions">
  <%= link_to 'Investigación', project_path(@project) %>
  <%= link_to 'Añadir artículo', new_project_article_path(@project) %>
</div>

<%= render :partial => '/repository/index', :locals => {:repositories => @articles} %>