<%= title "Artículo #{@article.title}" %>

<div class="actions">
  <%= link_to 'Investigación', @project %>
  <%= link_to 'Artículos', project_articles_path(@project) %>
</div>

<%= render :partial => 'repository/show', :locals => {:repository => @article} %>

