



<script id="message" type="text/html">
  <div id="message-{{html_id}}" class="message item composed">
    <div class="info">
      <div class="user_name">{{ user_name }}</div>
      <div class="created_at">{{#fecha}}{{ created_at }}{{/fecha}}</div>
    </div>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>


