<script id="article" type="text/html">
  <div id="article-{{id}}" class="article item">
    <div class="item-actions"><a href="#" class="action-edit">Editar</a></div>
    <p class="title">{{ title }}</p>
    <p class="description"> {{ description }}</p>
  </div>
</script>

<script id="articles_empty" type="text/html">
  <div class="article item disabled">
    La investigación {{ title }} aún no tiene ningún artículo. Puedes añadir uno
    pulsando en el botón de abajo.
  </div>
</script>

<script id="articleEditor" type="text/html">
  <div class="editor">
    <div class="header">
      <h1>{{editor_title}}</h1>
    </div>
    <div class="main">
      <form action="#new-project">
        <div class="inputs">
          <div class="input string required">
            <label class="string required" for="title">Título</label>
            <input class="string required" id="repository_title" maxlength="256" name="title" size="50" type="text" value="{{title}}" />
          </div>
          <div class="input text optional">
            <label class="text optional" for="description">Descripción</label>
            <textarea class="text optional" cols="40" id="repository_description" name="description" rows="20">{{description}}</textarea>
          </div>
        </div>
        <div class="actions">
          <input id="project_submit" name="commit" type="submit" value="{{editor_submit}}" />
          <a href="#" class="cancel">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
</script>