<script id="discussion" type="text/html">
  <div id="page" class="doc">
    <div id="document_{{id}}" class="head">
      <h1>{{title}}</h1>
    </div>
    <div class="paragraphs"></div>
  </div>
</script>