<script id="discussion" type="text/html">
  <div class="discussion item">
    <p class="title">{{ title }}</p>
    <p class="description">{{ description }}</p>
  </div>
</script>

<script id="discussions_empty" type="text/html">
  <div class="discussion item disabled">
    <b>{{ title }}</b> aún no tiene ningún debate. Puedes añadir uno
    pulsando en el enlace de abajo.
  </div>
</script>

<script id="discussion_document" type="text/html">
  <div class="page discussion document">
    <div class="head">
      <h3>Debate</h3>
      <h1>{{title}}</h1>
      <p class="description">{{description}}</p>
    </div>
    <div class="body decissions">
      <h2>1. Decisiones</h2>
      <div class="list"></div>
    </div>
    <div class="body reactions">
      <h2>2. Acciones a tomar</h2>
      <div class="list"></div>
    </div>
    <div class="body opinions">
      <h2>3. Discusión</h2>
      <div class="list"></div>
    </div>
  </div>
</script>

<script id="discussionEditor" type="text/html">
  <div class="editor">
    <div class="header">
      <h1>{{editor_title}}</h1>
    </div>
    <div class="main">
      {{> repository_editor}}
    </div>
  </div>
</script>