<script id="article" type="text/html">
  <div class="item-actions"><a href="#" class="action-edit">Editar</a></div>
  <p class="title">{{ title }}</p>
  <p class="description"> {{ description }}</p>
</script>

<script id="articles_empty" type="text/html">
  <div class="article item disabled">
    <b>{{ title }}</b> aún no tiene ningún artículo. Puedes añadir uno
    pulsando en el enlace de abajo.
  </div>
</script>

<script id="articleEditor" type="text/html">
  <div class="editor">
    <div class="header">
      <h1>{{editor_title}}</h1>
    </div>
    <div class="main">
      {{> repository_editor}}
    </div>
  </div>
</script>